# dependencies
**/node_modules/
**/package-lock.json

# local env files
**/.env
**/UniControl.apk
**/unicontrol-e84d0-firebase-adminsdk-fbsvc-a5b54040f0.json

# generated native folders
**/ios
**/android
**/.expo
**/.claude